<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
            <h3 class="card-title">Tambah Obat</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" action="/dokter/obat_masuk_tambah">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Jumlah :</label>
                                <input type="number" class="form-control" name="jumlah" maxlength="10" value="" placeholder="Jumlah">
                                <input type="hidden" class="form-control" name="id_obat" maxlength="10" value="<%= id_obat %>" placeholder="id obat">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Supplier :</label>
                                <input type="text" class="form-control" name="supplier" maxlength="50" value="" placeholder="Supplier">
                            </div>
                        </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
